{% load static %}
{% include 'Header.html' %}
{% include 'Mynav.html' %}


    
    
     <div class="card bg-dark text-black">
        <img src="{% static 'images\aboutbg.avif' %}" class="card-img" style="width: 100%; height: 100%" alt="...">
        <div class="card-img-overlay">
            <section class="container text-justify">
            <hr color="black" size="10">
          <h1 class="card-title text-lg-center" >About Us</h1>
          <hr color="black" size="10">
          <p class="card-text text-black font-weight-bolder" style="font-size:x-large;" >Welcome to Hotel Basera, where hospitality meets excellence, and every guest is treated like royalty. Nestled in [mention location], our hotel is more than just a place to stay; it's a destination where comfort, luxury, and impeccable service converge to create unforgettable experiences.</p>

    <p class="card-text text-black font-weight-bolder" style="font-size:x-large;" > At Hotel Basera, we pride ourselves on our commitment to service excellence. From the moment you step through our doors, our dedicated team ensures that your every need is not only met but exceeded. Whether you're here for business or leisure, our goal is to make your stay as seamless and enjoyable as possible.</p>
        
    <p class="card-text text-black font-weight-bolder" style="font-size:x-large;" >  Throughout our illustrious history, Hotel Basera has played host to numerous famous guests, drawn to our unparalleled hospitality and luxurious accommodations. Their presence is a testament to our reputation for excellence and our unwavering commitment to providing an exceptional experience to all who walk through our doors.</p>
        
    <p class="card-text text-black font-weight-bolder" style="font-size:x-large;" >   But beyond the glitz and glamour, Hotel Basera stands firm in its values of honesty and integrity. We believe in transparency in all our dealings, ensuring that our guests feel valued, respected, and appreciated at every turn.</p>
        
    <p class="card-text text-black font-weight-bolder" style="font-size:x-large;" >Join us at Hotel Basera, where every stay is an experience to cherish, and every guest is treated with the utmost care and attention. Whether you're here for a weekend getaway, a business trip, or a special occasion, we invite you to experience the magic of Hotel Basera firsthand.</p>
        
    <p class="card-text text-black font-weight-bolder" style="font-size:x-large;" > Welcome home to Hotel Basera—where luxury meets sincerity, and memories are made to last a lifetime.</p>
</section>
          
        </div>
      </div>


    {% include 'Footer.html' %}