{% load static %}
{% include 'Header.html' %}
{% include 'Mynav.html' %}




<!-- Cards -->
<div class="container">
  <hr color="orange" size="10">
<h1 align="center">Our Dinings</h1>
<hr color="orange" size="10">
    <section>
      <div class="row">
    
        <div class="col-sm-4" style="margin-top: 20px; margin-bottom: 20px;">
          <div class="card" style="background-color: burlywood;">
            <img src="{% static 'images\din1.jpg' %}" class="card-img-top" style="height: 215px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Indulge guilt-free in our purely veg delights-</h5>
              <p class="card-text">where flavor meets compassion...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4" style="margin-top: 20px; margin-bottom: 20px;">
          <div class="card" style="background-color: burlywood;">
            <img src="{% static 'images\din2.jpg' %}" class="card-img-top" style="height: 215px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Seamless surfing anywhere, anytime-</h5>
              <p class="card-text">our WiFi's got your back...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4" style="margin-top: 20px; margin-bottom: 20px;">
          <div class="card" style="background-color: burlywood;">
            <img src="{% static 'images\din3' %}" class="card-img-top" style="height: 215px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Unlock top-tier service with our 4.7 star rating-</h5>
              <p class="card-text">your satisfaction, our promise...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4" style="margin-top: 20px; margin-bottom: 20px;">
          <div class="card" style="background-color: burlywood;">
            <img src="{% static 'images\din4.jpg.crdownload' %}" class="card-img-top" style="height: 215px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tonight’s menu?</h5>
              <p class="card-text"> Pure delight with a side of satisfaction...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4"  style="margin-top: 20px; margin-bottom: 20px;">
          <div class="card" style="background-color: burlywood;">
            <img src="{% static 'images\din5.webp.crdownload' %}" class="card-img-top" style="height: 215px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Come hungry, leave happy–</h5>
              <p class="card-text">that’s our dinner promise...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4" style="margin-top: 20px; margin-bottom: 20px;">
          <div class="card" style="background-color: burlywood;">
            <img src="{% static 'images\din6.webp.crdownload' %}" class="card-img-top" style="height: 215px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Join us for dinner and-</h5>
              <p class="card-text"> let the enticing aroma lure you in...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4" style="margin-top: 20px; margin-bottom: 20px;">
          <div class="card" style="background-color: burlywood;">
            <img src="{% static 'images\din7.jpg' %}" class="card-img-top" style="height: 215px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Follow the scent of our savory dishes-</h5>
              <p class="card-text">make them lure you to our table...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4"  style="margin-top: 20px; margin-bottom: 20px;">
          <div class="card" style="background-color: burlywood;">
            <img src="{% static 'images\din8.jpg' %}" class="card-img-top" style="height: 215px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Succumb to the irresistible allure of-</h5>
              <p class="card-text">our dinner delights...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4"  style="margin-top: 20px; margin-bottom: 20px;">
          <div class="card" style="background-color: burlywood;">
            <img src="{% static 'images\din9.jpg' %}" class="card-img-top" style="height: 215px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Get ready to be tempted beyond measure with-</h5>
              <p class="card-text"> our irresistible dinner offerings...</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
    {% include 'Footer.html' %}