{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="{% static 'images\logom.gif' %}" height="40px" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="home">Hotel Basera<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="dining">Dining</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="room">Rooms for you</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="book">Book Now</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="show">My Bookings</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
            Our Services
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item disabled" href="#">Purely Veg Dining</a>
            <a class="dropdown-item disabled" href="#">24/7 Wifi Rooms</a>
            <a class="dropdown-item disabled" href="#">4.7 out of 5 star ratings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="abt">About Us</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact_us">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="logout">Log Out</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
      <h2 class="text-white-50">Welcome to Hotel Basera</h2>
    </div>
</nav>