{% include 'Header.html' %}

<section>
    <div class="container">
        <hr color="black" size="10">
        <h1 class="card-title text-lg-center text-white" >Register Here</h1>
        <hr color="black" size="10">
    <form method="post">
        {% csrf_token %}
    <table class="table table-bordered table-dark">
        <tbody>
            <tr>
                <td>
                    Name: 
                </td>
                <td>
                    <input type="text" name="uname"/>
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    <input type="email" name="email"/>
                </td>
            </tr>
                <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input type="password" name="password"/>
                </td>
            </tr>
            <tr>
                <td>
                   ReType-Password:
                </td>
                <td>
                    <input type="password" name="repassword"/>
                </td>
            </tr>
           
           
            <td colspan="2" align="center">
                <input type="submit" name="regbtn" value="Register"/>
               
            </td>
            </tr>
            <tr>
                <td colspan="2", align="center">
                <a href="/">Already a user</a>
               
        </td>
        </tr>
        <tr>
            <td colspan="2", align="center" class="text-danger">{{ err }}
          
           
    </td>
    </tr>
        
       

            </tr>
            
        </tbody>
    </table>

   
</form>  
</div> 
</section>



{% include 'Footer.html' %}